{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">O nas</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet convallis sem. Fusce ut bibendum sem. 
        Nullam ut ultricies sapien. Phasellus at turpis at arcu feugiat convallis. Morbi rutrum nisl at diam facilisis, 
        nec rutrum turpis pulvinar.
    </p>

    <p>
        Integer vitae ligula magna. Curabitur sagittis, justo at tincidunt faucibus, sem orci tristique turpis, a 
        tincidunt ante erat sed est. Vestibulum quis imperdiet odio. Etiam vitae nulla magna. Quisque id rhoncus libero. 
        Nam id turpis in justo sodales porttitor.
    </p>

    <p>
        Suspendisse potenti. Sed porttitor nec augue nec hendrerit. Duis scelerisque lorem velit, at dapibus augue 
        feugiat nec. Pellentesque luctus nulla at urna vulputate, sed malesuada risus sagittis.
    </p>

    <p>
        Cras iaculis ex et ligula malesuada, ut fermentum est consequat. Pellentesque sit amet dignissim leo. Nullam 
        tristique tincidunt felis in placerat. Sed at volutpat felis. Duis rutrum libero lorem, et sodales turpis 
        sollicitudin id.
    </p>
</div>
{% endblock %}