{% extends 'base.html' %}

{% block content %}
    <h1 class="center"> Nasze zapalniczki </h1>
    <div class="products">
        {% for product in products %}
            <div class="product">
                <img src="{{ url_for('static', filename='images/' ~ product.image_filename) }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <strong>{{ product.price }} PLN</strong>
                <br>
                <a href="{{ url_for('main.add_to_cart', product_id=product.id) }}">Dodaj do koszyka</a>
            </div>
        {% endfor %}
            
    </div>
{% endblock content %}
    