{% extends 'base.html' %}

{% block content %}
    <h1 class="center"> Nasze zapalniczki </h1>
    <div class="products">
        {% for product in products %}
            <div class="product">
                <a href="{{ url_for('main.product_details', product_id=product.id) }}">
                    <img src="{{ url_for('static', filename='images/' ~ product.image_filename) }}" alt="{{ product.name }}">
                </a>
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <strong>{{ product.price }} PLN</strong>
                <br>
            </div>

        {% endfor %}
            
    </div>
{% endblock content %}
    